<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular v1.5.8 Wizard</title>
    <meta name="description" content="Angular Wizard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="/content/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/content/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="/content/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

    <script src="/content/jquery.min.js" type="text/javascript"></script>
    <script src="/content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


    <script src="/content/ui-global-configurations.js" type="text/javascript"></script>
    <script src="/content/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
    <script src="/content/angular.js" type="text/javascript"></script>

    <script src="/content/angular-custom-directives.js" type="text/javascript"></script>
    <script src="/content/angular-summernote.js" type="text/javascript"></script>
    <script src="/content/angular-google-chart.js" type="text/javascript"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <script src="/wizard/rg-wizard-directive.js" type="text/javascript"></script>
    <script src="/wizard/rg-wizard-step-directive.js" type="text/javascript"></script>
    <script src="/wizard/controller.js" type="text/javascript"></script>
</head>

<body class="page-container-bg-solid">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            <small>POC for an Angular 1.5.8 Wizard with declarative, user customizable steps</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">
                    <div class="page-content-inner">
                        <div id="wizardContainer" ng-app="wizardApp" ng-controller="wizardController as c">
                            <rg-wizard data-wizard-name="Angular v1.5.8 Wizard" 
                                data-wizard-description="with declarative, user customizable steps" 
                                data-unable-to-change-stage-description="Fix validation errors to proceeed to next stage">
                                <rg-wizard-step data-step-name="Name">
                                    <input type="text" ng-model="model.name" required class="form-control" />
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Age">
                                    <input type="number" ng-model="model.age" required class="form-control" />
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Email">
                                    <input type="email" ng-model="model.email" required class="form-control" />
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Address">
                                    <summernote ng-model="model.address" config="options"></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Hobbys">
                                    <button type="button" ng-click="c.addHobby()">Add</button>
                                    <div ng-repeat="h in model.hobbys" class="form-group" ng-class="{'has-error': hobbysForm.$invalid}">
                                        <div class="row" ng-form="hobbysForm">
                                            <div class="col-md-6">
                                                <input type="text" name="h" ng-model="h" required class="form-control" />
                                                <span ng-show="hobbysForm.h.$error.required" class="help-block">
                                                        Required
                                                    </span>
                                            </div>
                                            <div class="col-md-1">
                                                <a class="btn red btn-sm" ng-click="c.deleteHobby($index)">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </rg-wizard-step>
                            </rg-wizard>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</body>

</html>