<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular v1.5.8 Wizard</title>
    <meta name="description" content="Angular Wizard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="/content/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/content/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="/content/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

    <script src="/content/jquery.min.js" type="text/javascript"></script>
    <script src="/content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


    <script src="/content/ui-global-configurations.js" type="text/javascript"></script>
    <script src="/content/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
    <script src="/content/angular.js" type="text/javascript"></script>

    <script src="/content/angular-custom-directives.js" type="text/javascript"></script>
    <script src="/content/angular-summernote.js" type="text/javascript"></script>
    <script src="/content/angular-google-chart.js" type="text/javascript"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <script src="/wizard/rg-wizard-component.js" type="text/javascript"></script>
    <script src="/wizard/rg-wizard-step-component.js" type="text/javascript"></script>

    <script src="/wizard/rg-wizard-directive.js" type="text/javascript"></script>
    <script src="/wizard/rg-wizard-step-directive.js" type="text/javascript"></script>

    <script src="/wizard/controller.js" type="text/javascript"></script>
</head>

<body class="page-container-bg-solid">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            <small>POC for an Angular 1.5.8 Wizard with declarative, user customizable steps</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">
                    <div class="page-content-inner">
                        <div id="wizardContainer" ng-app="wizardApp" ng-controller="wizardController as c">
                            <rg-wizard data-wizard-name="Angular v1.5.8 Wizard" data-wizard-description="with declarative, user customizable steps"
                                data-step-form-ok-description="You have no changes to save"
                                data-step-form-unsaved-changes-description="Proceed to next step to save your changes"
                                data-step-form-errors-description="Fix validation errors to proceeed to next stage"
                                data-custom-step-header-class="some-custom-class">
                                <div class="row" ng-show="!areAllStepsLoaded">
                                        <div class="col-md-12 text-center">
                                            <img src="wizard/spinner.svg" />
                                        </div>
                                    </div>
                                <rg-wizard-step data-step-name="Name" data-on-leave-callback="c.save1()">
                                    <div class="form-group" ng-class="{'has-error': $parent.getStepForm().$invalid}">
                                        <input type="text" name="name" ng-model="model.name" required class="form-control" />
                                        <span ng-show="$parent.getStepForm().name.$error.required" class="help-block">
                                            Required
                                        </span>
                                    </div>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Age" data-on-leave-callback="c.save2()">
                                    <div class="form-group" ng-class="{'has-error': $parent.getStepForm().$invalid}">
                                        <input type="number" name="age" ng-model="model.age" required class="form-control" />
                                        <span ng-show="$parent.getStepForm().age.$error.required" class="help-block">
                                            Required
                                        </span>
                                    </div>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Email" data-on-leave-callback="c.save1()">
                                    <div class="form-group" ng-class="{'has-error': $parent.getStepForm().$invalid}">
                                        <input type="email" name="email" ng-model="model.email" required class="form-control" />
                                        <span ng-show="$parent.getStepForm().email.$error.required" class="help-block">
                                            Required
                                        </span>
                                    </div>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Description" data-on-leave-callback="c.save2()">
                                    <summernote ng-model="model.description" config="options"></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Address" data-on-leave-callback="c.save2()">
                                    <summernote ng-model="model.address" config="options"></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name="Hobbys" data-watch-for-changes="model.hobbys"
                                    data-on-leave-callback="c.save1()" data-last-step>
                                    <button type="button" ng-click="c.addHobby()">Add</button>
                                    <div ng-repeat="h in model.hobbys" class="form-group">
                                        <div class="row" ng-form="hobbysForm" ng-class="{'has-error': hobbysForm.$invalid}">
                                            <div class="col-md-6">
                                                <input type="text" name="h" ng-model="h.name" required class="form-control" />
                                                <span ng-show="hobbysForm.h.name.$error.required" class="help-block">
                                                    Required
                                                </span>
                                            </div>
                                            <div class="col-md-1">
                                                <a class="btn red btn-sm" ng-click="c.deleteHobby($index)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 1' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField1' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 2' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField2' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 3' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField3' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 4' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField4' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 5' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField5' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 6' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField6' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 7' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField7' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 8' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField8' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 9' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField9' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 10' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField10' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 11' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField11' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 12' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField12' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 13' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField13' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 14' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField14' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 15' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField15' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 16' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField16' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 17' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField17' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 18' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField18' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 19' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField19' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 20' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField20' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 21' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField21' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 22' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField22' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 23' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField23' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 24' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField24' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 25' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField25' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 26' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField26' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 27' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField27' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 28' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField28' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 29' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField29' config='options'></summernote>
                                </rg-wizard-step>
                                <rg-wizard-step data-step-name='Some Field 30' data-on-leave-callback='c.save2()'>
                                    <summernote ng-model='model.someField30' config='options'></summernote>
                                </rg-wizard-step>
                            </rg-wizard>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</body>

</html>