<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-th-list"></i>
                        <span class="caption-subject bold uppercase">{{wizardName}}</span>
                        <span class="caption-helper">{{wizardDescription}}</span>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-xsmall">
                            <div class="input-group">
                                <span class="input-group-btn pull-right">
                                    <a ng-show="canChangeStep && !formIsDirty" href="javascript:;" class="btn btn-icon-only green popovers" data-container="body"
                                        data-trigger="hover" data-placement="top" data-content="{{stepFormOkDescription}}"
                                        data-original-title="" title="">
                                        <i class="fa fa-check-circle"></i>
                                    </a>
                                    <a ng-show="canChangeStep && formIsDirty" href="javascript:;" class="btn btn-icon-only btn-warning popovers" data-container="body"
                                        data-trigger="hover" data-placement="top" data-content="{{stepFormUnsavedChangesDescription}}"
                                        data-original-title="" title="">
                                        <i class="fa fa-warning"></i>
                                    </a>
                                    <a ng-show="!canChangeStep" href="javascript:;" class="btn btn-icon-only red popovers" data-container="body"
                                        data-trigger="hover" data-placement="top" data-content="{{stepFormErrorsDescription}}"
                                        data-original-title="" title="">
                                        <i class="fa fa-warning"></i>
                                    </a>                                                                        
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-large">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button ng-disabled="!canChangeStep" type="button" ng-click="onMovePrevious()" class="btn btn-left btn-default"> &lt; Previous</button>
                                </span>
                                <select ng-disabled="!canChangeStep" ng-change="onStepChanged()" ng-model="currentStep" class="form-control">
                                    <option ng-repeat="s in steps">{{s}}</option>
                                </select>
                                <span class="input-group-btn">
                                    <button ng-disabled="!canChangeStep" type="button" ng-click="onMoveNext()" class="btn btn-right btn-default"> Next &gt;</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body" ng-transclude></div>
    </div>
</div>